.contact-grid {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #e6e0cf;
}

.contact-title {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-self: center;
    color: #A86A2A;
}

.email,
.phone-number,
.instagram {
    grid-row: 2 / 3;
    color: #A86A2A;
    font-size: 20px;
}

.email {
    justify-self: flex-end;
}

.phone-number {
    justify-self: center;
}

.instagram {
    justify-self: flex-start;
}