#location {
   background-color: #e7e7e5;
}

.background-location {
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

/* .strip {
   height: 550px;
   width: 80%;
   background-color: #e6e0cf;
   box-shadow: 0 1px 3px rgba(0,0,0,0.1);
   padding: 200px 200px;
   display: flex;
   flex-direction: column;
   gap: 20px;
   
}

.address {
   text-align: center;
   transform: translateY(-20px);
   font-size: 24px;
   color:#A86A2A;
   
   line-height: 1.7;
   transform: translateY(-40px);
}

.title-location {
   text-align: center;
   color:#A86A2A;
   font-size: 30px;
   transform: translateY(-40px);
} */

.strip {
   height: 550px;
   width: 80%;
   background-color: #e6e0cf;
   box-shadow: 0 1px 3px rgba(0,0,0,0.1);
   display: grid;
   grid-template-columns: 1fr 1fr;
   
}

.left-location {
   grid: 1 / 2;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px;
}

.title-location {
   color:#A86A2A;
   font-size: 30px;
}

.address {
   font-size: 24px;
   color:#A86A2A;
   line-height: 1.7;
   text-align: center;
}

.right-location {
   grid: 2 / 3;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px;
}

.title-times {
   color:#A86A2A;
   font-size: 30px;
}

.opening-times {
   font-size: 24px;
   color:#A86A2A;
   line-height: 1.7;
   text-align: center;
}