#menu {
    padding: 140px;
    background-color: #e6e0cf;
}


.table {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 20px;
    font-size: 1rem;
    color:#A86A2A;
}

.title {
    text-align: center;
    color: #A86A2A;
    font-size: 2rem;
}

.table > button {
    border: none; 
    background: none; 
    cursor: pointer;
    font-size: 1.3rem;
    letter-spacing: 1px;
    color: #A86A2A;

}

.starters-content {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px );
    height: auto;
    gap: 46px;
    justify-self: center;
    transform: translateX(80px);
    width: 800px;
    margin-top: 30px;
    min-height: 450px;
}

.desserts-content,
.sides-content,
.drinks-content {
    height: 100%;
    display: none;
    grid-template-columns: repeat(auto-fit, 300px );
    height: auto;
    gap: 46px;
    justify-self: center;
    transform: translateX(80px);
    width: 800px;
    margin-top: 30px;
    min-height: 450px;
}

.desserts-content {
    row-gap: 0px;
}
.starters-content div:last-child,
.sides-content div:last-child {
    grid-column: 1 / -1;
    justify-self: center;
    width: 300px;
}

.starters-card,
.desserts-card,
.sides-card,
.drinks-card {
    border: 1px solid #000000;
    border-radius: 15px;
    min-width: 320px;
    max-width: 350px;
    min-height: 120px;
    max-height: 140px;
    padding-top: 12px;
    padding-left: 12px;
    background-color: #e6e0e0b6;
}


.starters-card div:nth-child(1),
.desserts-card div:nth-child(1),
.sides-card div:nth-child(1),
.drinks-card div:nth-child(1) {
    margin-bottom: 2px;
    font-size: 16px;
    font-weight: bold;
    color: #20201f;
    font-family: "Montserrat", sans-serif;
}

.starters-card div:nth-child(2),
.desserts-card div:nth-child(2),
.sides-card div:nth-child(2),
.drinks-card div:nth-child(2)  {
    color: #8f4b08;
}






